:root {
    --bg-color: #2e2e2e;
    --bg-color-dark: #1E1E1E;
    --bg-sticky: #222129;
    --bg-sticky-transparent: #222129D0;
    --text-color: #fff;
    --accent-color: #f28500;
    --accent-color-2: #6d008c;

}