{%- if site.texture.showNav -%}
	{% if page.name contains "index" %}

	<div class="navbar">
		<ul>
			<a href={{ site.baseurl | append: "/español" | append: page.year | append: page.month | append: page.day }}"><li>English</li></a>
			<a href="{{ site.baseurl | append: "/español" | append: page.year | append: page.month | append: page.day }}"><li>Spanish</li></a>
		</ul>
	</div>
	{%- endif -%}
	{% else %}
		<a href="{{ site.baseurl | append: "" }}"><li>English</li></a>
		<a href=""{{ site.baseurl | append: "/español" }}""><li>Spanish</li></a>
	{% endif %}
{%- endif -%}