* {
  color: var(--text-color)
}
body {  
    background-color: var(--bg-color);
    background-attachment: fixed;
    background-size: 40px 40px;
    background-image: radial-gradient(circle, var(--bg-color-dark) 2px, transparent 1px);
    color: var(--text-color);    
    line-height: 1.5;  
    margin: 0 auto;  
    font-family: "Fira Mono";
}
main  {
  min-width: 50vw;
  max-width: 50em;
  margin: 0 auto;
  padding: 30px;
} 
.background {
  background-color:#222121;
  box-shadow: 12px 12px var(--accent-color-2);
  padding: 2%
}
    
p {
  font-size: medium;
}
h1 {
  font-size:xx-large;
  display: inline-block;
  padding: .25em .0em;
  background: var(--accent-color);
  box-shadow: 12px 12px var(--accent-color-2);    

}
.content {  
  margin-bottom: 2rem;  
}  
.highlight{
  display: inline-block;
  padding: .25em .9em;
  background: var(--accent-color);
}
  
.navbar{  
  display: flex;
  align-items: center;  
  justify-content: space-between;  
  height: 45px;  
  background: var(--bg-color-dark);  
  padding: 10px;  
}  
.navbar__right{  
  display: flex;  
}  
a{  
  margin-left: 8px;
  text-decoration: none !important;  
}  
.navbar__right a{  
  text-decoration: none;  
  font-size: 14px;  
  margin-right: 18px;  
  transition: all 100ms;  
}  
.navbar__right a:hover{  
  text-decoration: underline;  
  font-weight: bold;  
}  