<style>
    figure { 
        /* To correctly align image, regardless of content height: */
        vertical-align: top;
        display: flexbox;
        /* To horizontally center images and caption */
        text-align: center;
    } 
    figure img {
        position: relative;
        top: 0;
        left: 0;
        border: 6px solid var(--accent-color);
        box-shadow: 12px 12px var(--accent-color-2);    
    }
    figcaption{
        display:block;
        font-family: "Fira Code";
        font-size: small;
        text-align: center;
    }
    .imagebox {
        position: relative;
        color: transparent;
        vertical-align: top;
        padding-bottom:.75em;
    }
</style>
<figure style="float: {{ .Get "float"}}">
    <li class="imagebox" style="width: {{.Get "width"}}; height: auto;">
        <img src={{ .Get "src" }} width="{{ .Get "width"}}">
    </li>
    <figcaption style="width: {{ .Get "width"}}"> This page is boring without a picture, so here's me holding a bell pepper </figcaption>
</figure>