 <style>
    .figurebox{
        float: {{.Get "float" | safeCSS}}
    }
    @media only screen and (max-width:650px) {
        .figurebox{
            float:none;
            display:flex;
            justify-content: center;
        }
    }   
 </style>   
<div class="figurebox" style="{{.Get "style" | safeCSS }}">
    <style>  
        figure {
            vertical-align: top;
            display: inline-block;
            /* To horizontally center images and caption */
            text-align: center;
        }

        img {
            border: 6px solid var(--accent-color);
            box-shadow: 12px 12px var(--accent-color-2);
        }
        figcaption{
            padding-top: .75em;
            display: block;
        }

        /*  For mobile:   */
        @media only screen and (max-width:650px) {

        }   
    </style>
    <figure style="max-width: {{.Get "width"}};">
        <img src={{ .Get "src" }} style="max-width: {{.Get "width"}};">
        {{ if .Inner }}
        <figcaption> {{ .Inner }}
        </figcaption>
        {{end}}
    </figure>
</div>
